/*===============================
    Font Famaly: 
    Custom red: #bf0a30
    Custom blue: #0018a8
===============================*/
*{
    margin: 0;
    padding: 0;
}

.logo{
    max-width: 200px;
}

.btn-autocolor{
    background-color: #0018a8;
}
.bg-fadewhite{
    background-color: rgb(245, 245, 245);
}
.text-autovity{
    color: #bf0a30;
}